shamefully-hoist=false
strict-peer-dependencies=false
auto-install-peers=true
enable-pre-post-scripts=true

trusted-dependencies[]=@firebase/util
trusted-dependencies[]=esbuild
trusted-dependencies[]=msw
trusted-dependencies[]=protobufjs
trusted-dependencies[]=unrs-resolver
